## editors
/.idea
/.vscode
/.claude

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
/out-collab-test/
/test-results/
/cypress/screenshots/
/.settings/
/.project
.scannerwork/
.externalToolBuilders/
