:root {
    --lexml-eta-level-padding: 20px;
    --lexml-eta-color-dispositivo-adicionado-rotulo: green;
    --lexml-eta-color-dispositivo-adicionado-conteudo: green;
    --lexml-eta-color-dispositivo-modificado-rotulo: blue;
    --lexml-eta-color-dispositivo-modificado-conteudo: blue;
    --lexml-eta-color-dispositivo-suprimido-rotulo: red;
    --lexml-eta-color-dispositivo-suprimido-conteudo: red;
    --lexml-eta-color-dispositivo-default-rotulo: black;
    --lexml-eta-color-dispositivo-default-conteudo: #9d9d9d;
}

.level {
  --level: 0;
  padding-left: calc(var(--level) * var(--lexml-eta-level-padding) + 5px);
}

.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.dispositivo-adicionado-rotulo {
    color: var(--lexml-eta-color-dispositivo-adicionado-rotulo);
    font-weight: 600;
    line-height: 1.42;
    float: left;
    margin-right: 10px;
}
.dispositivo-adicionado-conteudo {
    color: var(--lexml-eta-color-dispositivo-adicionado-conteudo);
}

.dispositivo-modificado-rotulo {
    color: var(--lexml-eta-color-dispositivo-modificado-rotulo);
    font-weight: 600;
    line-height: 1.42;
    float: left;
    margin-right: 10px;
}
.dispositivo-modificado-conteudo {
    color: var(--lexml-eta-color-dispositivo-modificado-conteudo);
}

.dispositivo-suprimido-rotulo {
    color: var(--lexml-eta-color-dispositivo-suprimido-rotulo);
    font-weight: 600; 
    line-height: 1.42; 
    float: left; 
    margin-right: 10px;
}
.dispositivo-suprimido-conteudo {
    text-decoration: line-through;
    color: var(--lexml-eta-color-dispositivo-suprimido-conteudo);
}

.dispositivo-default-rotulo {
    color: var(--lexml-eta-color-dispositivo-default-rotulo)
}
.dispositivo-default-conteudo {
    text-decoration: none; 
    color: var(--lexml-eta-color-dispositivo-default-conteudo)
}

[nivel='0'] {
  --level: 0;
}
[nivel='1'] {
  --level: 1;
}
[nivel='2'] {
  --level: 2;
}
[nivel='3'] {
  --level: 3;
}
[nivel='4'] {
  --level: 4;
}
[nivel='5'] {
  --level: 5;
}
[nivel='6'] {
  --level: 6;
}
[nivel='7'] {
  --level: 7;
}
[nivel='8'] {
  --level: 8;
}
[nivel='9'] {
  --level: 9;
}
[nivel='10'] {
  --level: 10;
}
[nivel='11'] {
  --level: 11;
}
[nivel='12'] {
  --level: 12;
}
[nivel='13'] {
  --level: 13;
}
[nivel='14'] {
  --level: 14;
}
[nivel='15'] {
  --level: 15;
}
[nivel='16'] {
  --level: 16;
}
[nivel='17'] {
  --level: 17;
}
[nivel='18'] {
  --level: 18;
}
[nivel='19'] {
  --level: 19;
}
[nivel='20'] {
  --level: 20;
}
[nivel='21'] {
  --level: 21;
}
[nivel='22'] {
  --level: 22;
}
[nivel='23'] {
  --level: 23;
}
[nivel='24'] {
  --level: 24;
}
[nivel='25'] {
  --level: 25;
}
[nivel='26'] {
  --level: 26;
}
[nivel='27'] {
  --level: 27;
}
[nivel='28'] {
  --level: 28;
}
[nivel='29'] {
  --level: 29;
}
[nivel='30'] {
  --level: 30;
}
[nivel='31'] {
  --level: 31;
}
[nivel='32'] {
  --level: 32;
}
[nivel='33'] {
  --level: 33;
}
[nivel='34'] {
  --level: 34;
}
[nivel='35'] {
  --level: 35;
}
[nivel='36'] {
  --level: 36;
}
[nivel='37'] {
  --level: 37;
}
[nivel='38'] {
  --level: 38;
}
[nivel='39'] {
  --level: 39;
}
[nivel='40'] {
  --level: 40;
}
[nivel='41'] {
  --level: 41;
}
[nivel='42'] {
  --level: 42;
}
[nivel='43'] {
  --level: 43;
}
[nivel='44'] {
  --level: 44;
}
[nivel='45'] {
  --level: 45;
}
[nivel='46'] {
  --level: 46;
}
[nivel='47'] {
  --level: 47;
}
[nivel='48'] {
  --level: 48;
}
[nivel='49'] {
  --level: 49;
}
[nivel='50'] {
  --level: 50;
}
[nivel='51'] {
  --level: 51;
}
[nivel='52'] {
  --level: 52;
}
[nivel='53'] {
  --level: 53;
}
[nivel='54'] {
  --level: 54;
}
[nivel='55'] {
  --level: 55;
}
[nivel='56'] {
  --level: 56;
}
[nivel='57'] {
  --level: 57;
}
[nivel='58'] {
  --level: 58;
}
[nivel='59'] {
  --level: 59;
}
[nivel='60'] {
  --level: 60;
}
[nivel='61'] {
  --level: 61;
}
[nivel='62'] {
  --level: 62;
}
[nivel='63'] {
  --level: 63;
}
[nivel='64'] {
  --level: 64;
}
[nivel='65'] {
  --level: 65;
}
[nivel='66'] {
  --level: 66;
}
[nivel='67'] {
  --level: 67;
}
[nivel='68'] {
  --level: 68;
}
[nivel='69'] {
  --level: 69;
}
[nivel='70'] {
  --level: 70;
}
[nivel='71'] {
  --level: 71;
}
[nivel='72'] {
  --level: 72;
}
[nivel='73'] {
  --level: 73;
}
[nivel='74'] {
  --level: 74;
}
[nivel='75'] {
  --level: 75;
}
[nivel='76'] {
  --level: 76;
}
[nivel='77'] {
  --level: 77;
}
[nivel='78'] {
  --level: 78;
}
[nivel='79'] {
  --level: 79;
}
[nivel='80'] {
  --level: 80;
}
[nivel='81'] {
  --level: 81;
}
[nivel='82'] {
  --level: 82;
}
[nivel='83'] {
  --level: 83;
}
[nivel='84'] {
  --level: 84;
}
[nivel='85'] {
  --level: 85;
}
[nivel='86'] {
  --level: 86;
}
[nivel='87'] {
  --level: 87;
}
[nivel='88'] {
  --level: 88;
}
[nivel='89'] {
  --level: 89;
}
[nivel='90'] {
  --level: 90;
}
[nivel='91'] {
  --level: 91;
}
[nivel='92'] {
  --level: 92;
}
[nivel='93'] {
  --level: 93;
}
[nivel='94'] {
  --level: 94;
}
[nivel='95'] {
  --level: 95;
}
[nivel='96'] {
  --level: 96;
}
[nivel='97'] {
  --level: 97;
}
[nivel='98'] {
  --level: 98;
}
[nivel='99'] {
  --level: 99;
}
[nivel='100'] {
  --level: 100;
}
